{% extends 'app/base.html' %}

{% load static %}

{% block container %}
<br>
<main class="flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Editar Reserva</h4>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            <div class="form-group custom-bg-color">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                            <div class="d-flex justify-content-end ">
                                <div class="card-body d-flex justify-content-start bg-light font-weight-bold">
                                    {{ mensaje }}
                                </div>
                                {% if is_estudiante %}
                                <a href="{% url 'genesis_home' %}" class="btn btn-info d-flex justify-content-center align-items-center">Volver</a>
                                {% else %}
                                <a href="{% url 'galileo_home' %}" class="btn btn-info d-flex justify-content-center align-items-center">Volver</a>
                                {% endif %}

                                &nbsp;
                                <input type="reset" value="Cancelar" class="btn btn-secondary float-right">
                                &nbsp;
                                <button type="submit" value="Editar" class="btn btn-primary float-right">Editar</button>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<br>
{% endblock %}